<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <label for="">Category :</label>
        <select name="category_name">
            <option value="Made For You" >Made For You</option>
            <option value="Top Mixes">Top Mixes</option>
            <option value="Tamil">Tamil</option>
            <option value="Malayalam">Malayalam</option>
            <option value="International Mixes">International Mixes</option>
        </select><br><br>
        <button>submit</button>
    </form>
</body>
</html>